@font-face {
  font-family: 'Bungee';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Bungee'), local('Bungee-Regular'), url(https://fonts.gstatic.com/s/bungee/v5/N0bU2SZBIuF2PU_ECg.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotoslab/v11/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjojISWaA.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotoslab/v11/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjoJYOWaA.ttf) format('truetype');
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 62.5%;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
p {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
body {
  background-color: #FCFCFC;
  line-height: 0.1rem;
  font-family: 'Roboto Slab', serif;;
}
nav {
  padding: 2%;
  width: 100%;
  background-color: #ff3f18;
  border-bottom: 0.1rem solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}
nav img {
  width: 20%;
}
nav .btnwrap {
  width: 30%;
  margin: 3%;
}
nav .btnwrap .logIn {
  border: 0.2rem solid #254E70;
  border-radius: 6px;
  background-color: #ADE8FA;
  color: #254E70;
  text-decoration: none;
  padding: 2% 4%;
  font-size: 2rem;
  text-align: center;
  width: 100%;
}
nav .btnwrap .logIn:hover {
  background-color: #254E70;
  color: #ADE8FA;
  border: 0.2rem solid black;
}
nav .btnwrap .regis {
  border: 0.2rem solid #254E70;
  border-radius: 6px;
  background-color: #ADE8FA;
  color: #254E70;
  text-decoration: none;
  padding: 2% 4%;
  font-size: 2rem;
  text-align: center;
  width: 100%;
  margin-bottom: 5%;
}
nav .btnwrap .regis:hover {
  background-color: #254E70;
  color: #ADE8FA;
  border: 0.2rem solid black;
}
nav p {
  font-family: Bungee, cursive;
  font-size: 1.5rem;
  width: 51%;
  margin-block-start: 12%;
}
@media (min-width: 500px) {
  nav p {
    font-size: 2rem;
  }
}
@media (min-width: 800px) {
  nav img {
    width: 10%;
  }
  nav p {
    font-size: 3.1rem;
  }
  nav .btnwrap {
    margin: 3% 3% 3% 10%;
    width: 20%;
  }
  nav .btnwrap .logIn,
  nav .btnwrap .regis {
    font-size: 3rem;
  }
  nav p {
    font-size: 4rem;
    margin-block-start: 6%;
    width: 77%;
  }
}
@media (min-width: 1000px) {
  nav img {
    width: 9%;
  }
  nav .btnwrap {
    margin: 1% 0% 1% 0%;
    width: 20%;
  }
  nav .btnwrap .logIn,
  nav .btnwrap .regis {
    font-size: 3rem;
  }
  nav p {
    font-size: 4rem;
    margin-block-start: 5%;
    width: 77%;
  }
}
@media (min-width: 1000px) {
  nav img {
    width: 5%;
  }
  nav .btnwrap {
    margin: 1% 0% 1% 10%;
    width: 10%;
  }
  nav .btnwrap .logIn,
  nav .btnwrap .regis {
    font-size: 2rem;
  }
  nav p {
    font-size: 6rem;
    margin-block-start: 3%;
    width: 77%;
  }
}
.banner {
  border: 0.2rem solid black;
  width: 100%;
  height: 86vh;
  background-image: url('/static/img/Banner/banner640x427.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: flex-start;
}
.banner h1 {
  font-family: Bungee, cursive;
  font-size: 6rem;
  color: #FCFCFC;
  letter-spacing: 0.1rem;
  -webkit-text-stroke-width: 0.1rem;
  -webkit-text-stroke-color: black;
  line-height: 6rem;
  margin: 0 4%;
}
.banner h2 {
  font-family: Bungee, cursive;
  font-size: 3rem;
  color: #FCFCFC;
  letter-spacing: 0.2rem;
  line-height: 3rem;
  -webkit-text-stroke-width: 0.1rem;
  -webkit-text-stroke-color: black;
  margin: 0 4%;
}
.banner .regis {
  border: 0.2rem solid #254E70;
  border-radius: 6px;
  background-color: #ADE8FA;
  color: #254E70;
  text-decoration: none;
  padding: 2% 4%;
  font-size: 2rem;
  text-align: center;
  width: 50%;
}
.banner .regis:hover {
  background-color: #254E70;
  color: #ADE8FA;
  border: 0.2rem solid black;
}
@media (min-width: 500px) {
  .banner h1 {
    font-size: 8rem;
    line-height: 8rem;
  }
  .banner h2 {
    font-size: 4rem;
    line-height: 4rem;
  }
  .banner .regis {
    border: 0.2rem solid #254E70;
    border-radius: 6px;
    background-color: #ADE8FA;
    color: #254E70;
    text-decoration: none;
    padding: 2% 4%;
    font-size: 2rem;
    text-align: center;
    width: 50%;
  }
  .banner .regis:hover {
    background-color: #254E70;
    color: #ADE8FA;
    border: 0.2rem solid black;
  }
}
@media (min-width: 800px) {
  .banner h1 {
    font-size: 6rem;
  }
  .banner h2 {
    font-size: 2.5rem;
  }
  .banner .regis {
    margin-bottom: 10%;
    font-size: 3rem;
  }
}
@media (min-width: 1000px) {
  .banner h1 {
    font-size: 16rem;
    line-height: 16rem;
    text-align: center;
  }
  .banner h2 {
    font-size: 3rem;
  }
  .banner .regis {
    width: 40%;
    font-size: 3rem;
  }
}
@media (min-width: 1400px) {
  .banner h1 {
    font-size: 18rem;
    line-height: 18rem;
    margin: 5% 15%;
    text-align: center;
  }
  .banner h2 {
    font-size: 5rem;
    margin: 4% 15%;
  }
  .banner .regis {
    width: 30%;
    font-size: 4rem;
  }
}
.whatItDoes,
.howItWorks {
  border-top: 0.2rem solid #254E70;
  letter-spacing: 0.05rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
}
.whatItDoes .learnMore,
.howItWorks .learnMore {
  border: 0.2rem solid #254E70;
  border-radius: 6px;
  background-color: #ff3f18;
  color: #FCFCFC;
  text-decoration: none;
  padding: 0 5%;
  font-size: 3rem;
  text-align: center;
  margin: 5% 0;
}
.whatItDoes .learnMore:hover,
.howItWorks .learnMore:hover {
  background-color: #FCFCFC;
  color: #ff3f18;
  border: 0.2rem solid black;
}
.whatItDoes .learnMore a,
.howItWorks .learnMore a {
  text-decoration: none;
  color: #FCFCFC;
  text-align: center;
  vertical-align: middle;
  font-family: 'Roboto Slab', serif;;
}
.whatItDoes h1,
.howItWorks h1 {
  font-family: 'Roboto Slab', serif;font-weight: 900;;
  font-size: 3.8rem;
  margin: 3rem 0;
  letter-spacing: 0.5rem;
  line-height: 6rem;
  border-bottom: 0.2rem ridge #254E70;
}
.whatItDoes .search,
.howItWorks .search,
.whatItDoes .afterSearch,
.howItWorks .afterSearch,
.whatItDoes .accounts,
.howItWorks .accounts,
.whatItDoes .algo,
.howItWorks .algo {
  width: 80%;
  margin: 2rem auto;
}
.whatItDoes .search img,
.howItWorks .search img,
.whatItDoes .afterSearch img,
.howItWorks .afterSearch img,
.whatItDoes .accounts img,
.howItWorks .accounts img,
.whatItDoes .algo img,
.howItWorks .algo img {
  width: 100%;
  height: 30rem;
  border-radius: 12px;
  border: 0.2rem solid #254E70;
}
.whatItDoes .search p,
.howItWorks .search p,
.whatItDoes .afterSearch p,
.howItWorks .afterSearch p,
.whatItDoes .accounts p,
.howItWorks .accounts p,
.whatItDoes .algo p,
.howItWorks .algo p,
.whatItDoes .search a,
.howItWorks .search a,
.whatItDoes .afterSearch a,
.howItWorks .afterSearch a,
.whatItDoes .accounts a,
.howItWorks .accounts a,
.whatItDoes .algo a,
.howItWorks .algo a {
  font-size: 2rem;
  margin: 10% 0;
  word-wrap: break-word;
  line-height: 2rem;
  text-decoration: none;
  font-family: 'Roboto Slab', serif;;
}
.whatItDoes .search a,
.howItWorks .search a,
.whatItDoes .afterSearch a,
.howItWorks .afterSearch a,
.whatItDoes .accounts a,
.howItWorks .accounts a,
.whatItDoes .algo a,
.howItWorks .algo a {
  color: #C33C54;
}
.whatItDoes .search a:hover,
.howItWorks .search a:hover,
.whatItDoes .afterSearch a:hover,
.howItWorks .afterSearch a:hover,
.whatItDoes .accounts a:hover,
.howItWorks .accounts a:hover,
.whatItDoes .algo a:hover,
.howItWorks .algo a:hover {
  color: #ADE8FA;
}
@media (min-width: 500px) {
  .whatItDoes .learnMore,
  .howItWorks .learnMore {
    font-size: 4rem;
  }
  .whatItDoes h1,
  .howItWorks h1 {
    font-size: 5rem;
    margin: 4rem 0;
    line-height: 7rem;
  }
  .whatItDoes .search p,
  .howItWorks .search p,
  .whatItDoes .afterSearch p,
  .howItWorks .afterSearch p,
  .whatItDoes .accounts p,
  .howItWorks .accounts p,
  .whatItDoes .algo p,
  .howItWorks .algo p,
  .whatItDoes .search a,
  .howItWorks .search a,
  .whatItDoes .afterSearch a,
  .howItWorks .afterSearch a,
  .whatItDoes .accounts a,
  .howItWorks .accounts a,
  .whatItDoes .algo a,
  .howItWorks .algo a {
    font-size: 3rem;
    line-height: 3rem;
  }
}
@media (min-width: 800px) {
  .whatItDoes .learnMore,
  .howItWorks .learnMore {
    font-size: 5rem;
    padding: 0 2%;
  }
  .whatItDoes h1,
  .howItWorks h1 {
    font-size: 6rem;
    margin: 6rem 0;
    letter-spacing: 0.2rem;
    line-height: 8rem;
  }
  .whatItDoes .search,
  .howItWorks .search,
  .whatItDoes .afterSearch,
  .howItWorks .afterSearch,
  .whatItDoes .accounts,
  .howItWorks .accounts,
  .whatItDoes .algo,
  .howItWorks .algo {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
  }
  .whatItDoes .search p,
  .howItWorks .search p,
  .whatItDoes .afterSearch p,
  .howItWorks .afterSearch p,
  .whatItDoes .accounts p,
  .howItWorks .accounts p,
  .whatItDoes .algo p,
  .howItWorks .algo p,
  .whatItDoes .search a,
  .howItWorks .search a,
  .whatItDoes .afterSearch a,
  .howItWorks .afterSearch a,
  .whatItDoes .accounts a,
  .howItWorks .accounts a,
  .whatItDoes .algo a,
  .howItWorks .algo a {
    margin-left: 5%;
    word-wrap: break-word;
    width: 55%;
    font-size: 2.3rem;
  }
  .whatItDoes .search img,
  .howItWorks .search img,
  .whatItDoes .afterSearch img,
  .howItWorks .afterSearch img,
  .whatItDoes .accounts img,
  .howItWorks .accounts img,
  .whatItDoes .algo img,
  .howItWorks .algo img {
    width: 40%;
  }
  .whatItDoes .afterSearch,
  .howItWorks .afterSearch,
  .whatItDoes .algo,
  .howItWorks .algo {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
  }
  .whatItDoes .afterSearch p,
  .howItWorks .afterSearch p,
  .whatItDoes .algo p,
  .howItWorks .algo p {
    margin-right: 5%;
    word-wrap: break-word;
    width: 55%;
    font-size: 2.3rem;
  }
  .whatItDoes .afterSearch img,
  .howItWorks .afterSearch img,
  .whatItDoes .algo img,
  .howItWorks .algo img {
    width: 40%;
  }
}
@media (min-width: 1000px) {
  .whatItDoes p,
  .howItWorks p,
  .whatItDoes a,
  .howItWorks a {
    font-size: 3rem;
  }
}
@media (min-width: 1400px) {
  .whatItDoes,
  .howItWorks {
    margin: 0 15%;
  }
  .whatItDoes .search p,
  .howItWorks .search p,
  .whatItDoes .afterSearch p,
  .howItWorks .afterSearch p,
  .whatItDoes .accounts p,
  .howItWorks .accounts p,
  .whatItDoes .algo p,
  .howItWorks .algo p,
  .whatItDoes .search a,
  .howItWorks .search a,
  .whatItDoes .afterSearch a,
  .howItWorks .afterSearch a,
  .whatItDoes .accounts a,
  .howItWorks .accounts a,
  .whatItDoes .algo a,
  .howItWorks .algo a {
    font-size: 4rem;
    line-height: 5.5rem;
  }
  .whatItDoes .search img,
  .howItWorks .search img,
  .whatItDoes .afterSearch img,
  .howItWorks .afterSearch img,
  .whatItDoes .accounts img,
  .howItWorks .accounts img,
  .whatItDoes .algo img,
  .howItWorks .algo img {
    height: 45rem;
  }
}
footer {
  background-color: #ADE8FA;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
}
footer h1 {
  font-family: 'Roboto Slab', serif;font-weight: 900;;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  line-height: 2rem;
  margin: 3rem;
}
footer button {
  border: 0.2rem solid #254E70;
  border-radius: 6px;
  background-color: #ff3f18;
  color: #FCFCFC;
  text-decoration: none;
  padding: 2% 4%;
  font-size: 2rem;
  text-align: center;
  margin: 1rem 0;
}
footer button:hover {
  background-color: #FCFCFC;
  color: #ff3f18;
  border: 0.2rem solid black;
}
footer .backToTop {
  margin: 1rem 0;
}
footer .backToTop img {
  width: 5rem;
  height: 5rem;
}
@media (min-width: 500px) {
  footer h1 {
    font-size: 2.8rem;
    line-height: 3rem;
    margin: 4rem;
  }
  footer button {
    font-size: 3rem;
  }
  footer .backToTop {
    margin: 1rem 0;
  }
  footer .backToTop img {
    width: 7rem;
    height: 7rem;
  }
}
@media (min-width: 800px) {
  footer h1 {
    font-size: 3rem;
    margin: 2rem;
  }
  footer button {
    font-size: 2rem;
  }
}
@media (min-width: 1000px) {
  footer button {
    padding: 1% 4%;
  }
  footer h1 {
    margin: 2rem;
  }
}
@media (min-width: 1400px) {
  footer button {
    padding: 0.5%;
    font-size: 3rem;
  }
  footer h1 {
    margin: 2rem;
    font-size: 4rem;
    line-height: 4rem;
  }
}
