@font-face {
  font-family: 'Bungee';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Bungee'), local('Bungee-Regular'), url(https://fonts.gstatic.com/s/bungee/v5/N0bU2SZBIuF2PU_ECg.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-U1Ug.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UNirk-VQ.ttf) format('truetype');
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 62.5%;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
p {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
body {
  background-color: #FCFCFC;
  line-height: 0.1rem;
  font-family: Open Sans, sans-serif;
}
nav {
  padding: 2%;
  width: 100%;
  background-color: #ff3f18;
  border-bottom: 0.1rem solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}
nav img {
  width: 20%;
}
nav .btnwrap {
  width: 30%;
  margin: 3%;
}
nav .btnwrap .logIn {
  border: 0.2rem solid #254E70;
  border-radius: 6px;
  background-color: #ADE8FA;
  color: #254E70;
  text-decoration: none;
  padding: 2% 4%;
  font-size: 2rem;
  text-align: center;
  width: 100%;
}
nav .btnwrap .logIn:hover {
  background-color: #254E70;
  color: #ADE8FA;
  border: 0.2rem solid black;
}
nav .btnwrap .regis {
  border: 0.2rem solid #254E70;
  border-radius: 6px;
  background-color: #ADE8FA;
  color: #254E70;
  text-decoration: none;
  padding: 2% 4%;
  font-size: 2rem;
  text-align: center;
  width: 100%;
  margin-bottom: 5%;
}
nav .btnwrap .regis:hover {
  background-color: #254E70;
  color: #ADE8FA;
  border: 0.2rem solid black;
}
nav p {
  font-family: Bungee, cursive;
  font-size: 1.5rem;
  width: 51%;
  margin-block-start: 12%;
}
@media (min-width: 500px) {
  nav p {
    font-size: 2rem;
  }
}
@media (min-width: 800px) {
  nav p {
    font-size: 3.1rem;
  }
  nav .btnwrap .logIn,
  nav .btnwrap .regis {
    font-size: 4rem;
  }
}
@media (min-width: 1000px) {
  nav img {
    width: 8%;
  }
  nav .btnwrap {
    margin: 1% 0% 1% 20%;
    width: 20%;
  }
  nav .btnwrap .logIn,
  nav .btnwrap .regis {
    font-size: 1.5rem;
  }
  nav p {
    font-size: 4rem;
    margin-block-start: 5%;
    width: 77%;
  }
}
.whatItDoes,
.howItWorks {
  border-top: 0.2rem solid #254E70;
  border-bottom: 0.2rem solid #254E70;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
}
.whatItDoes h1,
.howItWorks h1 {
  font-family: Open Sans, sans-serif;
  font-size: 4rem;
  margin: 4rem 0 2rem 0;
  letter-spacing: 0.5rem;
  line-height: 4rem;
}
.whatItDoes .search,
.howItWorks .search,
.whatItDoes .afterSearch,
.howItWorks .afterSearch,
.whatItDoes .accounts,
.howItWorks .accounts,
.whatItDoes .algo,
.howItWorks .algo {
  width: 80%;
  margin: 2rem auto;
}
.whatItDoes .search img,
.howItWorks .search img,
.whatItDoes .afterSearch img,
.howItWorks .afterSearch img,
.whatItDoes .accounts img,
.howItWorks .accounts img,
.whatItDoes .algo img,
.howItWorks .algo img {
  width: 100%;
  height: 30rem;
  border-radius: 12px;
  border: 0.1rem solid #254E70;
}
.whatItDoes .search p,
.howItWorks .search p,
.whatItDoes .afterSearch p,
.howItWorks .afterSearch p,
.whatItDoes .accounts p,
.howItWorks .accounts p,
.whatItDoes .algo p,
.howItWorks .algo p {
  font-size: 2.5rem;
  margin: 10% 0;
  word-wrap: break-word;
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
}
@media (min-width: 800px) {
  .whatItDoes h1,
  .howItWorks h1 {
    font-size: 6rem;
    margin: 6rem 0 2rem 0;
    letter-spacing: 0.8rem;
    line-height: 6rem;
  }
}
footer {
  background-color: #ADE8FA;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
}
footer h1 {
  font-family: Open Sans, sans-serif;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  line-height: 2rem;
  margin: 3rem 3rem;
}
footer button {
  border: 0.2rem solid #254E70;
  border-radius: 6px;
  background-color: #ff3f18;
  color: #FCFCFC;
  text-decoration: none;
  padding: 2% 4%;
  font-size: 2rem;
  text-align: center;
  margin: 1rem 0;
}
footer button:hover {
  background-color: #FCFCFC;
  color: #ff3f18;
  border: 0.2rem solid black;
}
footer .backToTop {
  margin: 1rem 0;
}
footer .backToTop img {
  width: 5rem;
  height: 5rem;
}
@media (min-width: 500px) {
  footer h1 {
    font-size: 3rem;
    line-height: 3rem;
    margin: 4rem 4rem;
  }
  footer button {
    font-size: 3rem;
  }
  footer .backToTop {
    margin: 1rem 0;
  }
  footer .backToTop img {
    width: 7rem;
    height: 7rem;
  }
}
@media (min-width: 500px) and (min-width: 800px) {
  footer h1 {
    width: 50%;
    font-size: 3rem;
  }
  footer button {
    font-size: 3rem;
  }
}
