.content{
    margin: 0 5%;
    h1{
        font-family: @tittle;
        font-size: 4.5rem;
        line-height: 4.5rem;
        margin: 15rem auto;
    }
    h2{
        font-family: @subtittle;
        font-size: 5rem;
        line-height: 5rem;
        margin: 15rem auto;
    }
    p{
        font-family: @Mfont;
        font-size: 2rem;
        line-height: 4rem;
        margin: 15rem auto;
    }
}