.whatItDoes{
    border-top: .2rem solid black;
    border-bottom: .2rem solid black;
    .flexit(column, nowrap, space-between, center);
    h1{
        font-family: @subtittle;
        font-size: 4rem;
        margin: 4rem 0 2rem 0;
        letter-spacing: .5rem;
        line-height: 4rem;
    }
    .search, .afterSearch{
        width: 80%;
        margin: 2rem auto;
        img{
            width: 100%;
            height: 30rem;
            border-radius: 12px;
            border: .1rem solid black;
        }
        p{
            font-size: 2.5rem;
            margin: 10% 0;
            word-wrap: break-word;
            line-height: 2.5rem;
            letter-spacing: .8rem;
        }
    }
}
.howItWorks{
    border-top: .2rem solid black;
    border-bottom: .2rem solid black;
    background-color: @redditBlue
    .flexit(column, nowrap, space-between, center);
    h1{
        font-family: @subtittle;
        font-size: 4rem;
        margin: 4rem 0 2rem 0;
        letter-spacing: .5rem;
        line-height: 4rem;
    }
    .accounts, .algo{
        width: 80%;
        margin: 2rem auto;
        img{
            width: 100%;
            height: 30rem;
            border-radius: 8px;
            border: .1rem solid black;
        }
        p{
            font-size: 2.5rem;
            margin: 10% 0;
            word-wrap: break-word;
            line-height: 2.5rem;
            letter-spacing: .8rem;
        }
    }
}