.content{
    margin: 5%
    .flexit(column, wrap, center, center);
    h1{
        display: block;
        width: 90%;
        font-family: @tittle;
        font-size: 5rem;
        line-height: 5rem;
        margin: 5rem 0;
    }
    .cards{
        border: .1rem solid black;
        border-radius: 6px;
        text-align: center;
        margin: 10rem 10%;
        img{
            width: 100%;
            margin: 5rem 0;
            border: .2rem solid black;
            border-radius: 50%;
        }
    }
    h2{
        font-family: @subtittle;
        font-size: 3rem;
        line-height: 3rem;
        margin: 1rem 0;
    }
    p{
        font-family: @Mfont;
        font-size: 1rem;
        line-height: 1rem;
    }
}